<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>

	<rule ref="vendor/woocommerce/woocommerce/phpcs.xml">
		<!-- Let the plugin files have @author tags. -->
		<exclude name="Core.Commenting.CommentTags.AuthorTag" />
	</rule>


	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>

	<!-- Exclude the tests/ directory. -->
	<exclude-pattern>*/tests/*</exclude-pattern>
</ruleset>
