<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Rules for the WooCommerce Custom Orders Table plugin.</description>

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php" />
	<arg value="ps" />
	<file>./includes</file>
	<file>woocommerce-custom-orders-table.php</file>

	<!-- The plugin should be compatible with PHP 5.6 and newer. -->
	<config name="testVersion" value="5.6-" />

	<rule ref="WooCommerce-Core">
		<!-- Let the plugin files have @author tags. -->
		<exclude name="Core.Commenting.CommentTags.AuthorTag" />

		<!-- WooCommerce packages use PSR-4 autoloading, so don't worry about WP conventions. -->
		<exclude name="WordPress.Files.FileName" />

		<!-- Permit short-array syntax. -->
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />

		<!-- Prevent closures and array-based arguments from looking terrible. -->
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments" />
	</rule>

	<!-- Set the expected text domain. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="woocommerce-custom-orders-table" />
		</properties>
	</rule>

	<!-- Don't be as strict in tests/* -->
	<rule ref="Generic.Commenting.DocComment.MissingShort">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
</ruleset>
