<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<!-- Plugin-specific tests. -->
		<testsuite name="plugin">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>tests/test-sample.php</exclude>
		</testsuite>

		<!-- WooCommerce core test suite. -->
		<testsuite name="core">
			<directory suffix=".php">./vendor/woocommerce/woocommerce/tests/unit-tests</directory>

			<!--
				Exclude tests from the core test suite that won't pass without major work-arounds.
			-->

			<!-- @link https://github.com/woocommerce/woocommerce/pull/25403 -->
			<exclude>./vendor/woocommerce/woocommerce/tests/unit-tests/util/api-functions.php</exclude>

			<!-- @link https://github.com/woocommerce/woocommerce/pull/25378 -->
			<exclude>./vendor/woocommerce/woocommerce/tests/unit-tests/geolocation/class-wc-tests-geolite-integration.php</exclude>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">includes</directory>
			<file>woocommerce-custom-orders-table.php</file>
		</whitelist>
	</filter>
</phpunit>
