<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<!-- Plugin-specific tests. -->
		<testsuite name="plugin">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>tests/test-sample.php</exclude>
		</testsuite>

		<!-- WooCommerce core test suite. -->
		<testsuite name="core">
			<directory suffix=".php">./vendor/woocommerce/woocommerce/tests/unit-tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">includes</directory>
			<file>wc-custom-order-table.php</file>
		</whitelist>
	</filter>
</phpunit>
